// SPDX-License-Identifier: GPL-2.0-only
/*
 * Device Tree Source for Xiaomi Redmi Note 9
 *
 * Copyright (C) 2022 Jami Kettunen
 * Copyright (c) 2025 Max Shevchenko
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "mt6769z.dtsi"
#include "mt6358.dtsi"

/ {
	/* NOTE: when /model is defined stock lk bootloader replaces it with "MT6769V/CZ" forcefully :( */
	model = "Xiaomi Redmi Note 9";
	compatible = "xiaomi,merlin", "mediatek,mt6769z", "mediatek,mt6768";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = &framebuffer0;
	};

	/*
	 * HACK: Use display framebuffer setup by the lk bootloader for simplefb
	 * FIXME: only text is rendered on VT (TTY) as an unknown bit has to be flipped to disable
	 *        image compression!
	 * NOTE: for earlyfb to work you currently need original non-multiboot lk bootloader!
	 */
	framebuffer0: framebuffer@7ed58000 {
		compatible = "simple-framebuffer";
		reg = <0x0 0x7d9b0000 0x0 0x2250000>;
		format = "a8r8g8b8";
		width = <1080>;
		stride = <((1080 + 8) * 4)>;
		height = <2340>;
		/* FIXME: look into clocks from downstream to avoid garbled display after clk_disable_unused:
		 * - mtkfb_pins_lcm_rst_out1_gpio
		 * - mtkfb_pins_lcm_rst_out0_gpio
		 * - mtkfb_pins_lcm_dsi_te
		 */
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x3e605000>;
	};
};

&mt6358_vdram2_reg {
	regulator-always-on;
};

&pmic {
	interrupts-extended = <&pio 144 IRQ_TYPE_LEVEL_HIGH>;
};

&uart0 {
	status = "okay";
};

&usb2 {
	status = "okay";

	// In fact this should be under usb2port0...
	port {
		usb2phy_port: endpoint {
			remote-endpoint = <&usb_typec>;
		};
	};
};

&usb2phy {
	status = "okay";
};

&keyboard {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&keyboard_pins>;
	linux,keymap = <MATRIX_KEY(0x00, 0x00, KEY_VOLUMEDOWN)>;
	keypad,num-rows = <1>;
	keypad,num-columns = <1>;
	debounce-delay-ms = <32>;
};

&mmc0 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_default_pins>;
	pinctrl-1 = <&mmc0_default_pins>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	cap-mmc-hw-reset;
	no-sdio;
	no-sd;
	supports-cqe;
	hs400-ds-delay = <0x12814>;
	vmmc-supply = <&mt6358_vemc_reg>;
	vqmmc-supply = <&mt6358_vio18_reg>;
	non-removable;
};

&mmc1 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc1_default_pins>;
	pinctrl-1 = <&mmc1_uhs_pins>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	sd-uhs-ddr50;
	no-mmc;
	no-sdio;
	cd-gpios = <&pio 18 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&mt6358_vmch_reg>;
	vqmmc-suppply = <&mt6358_vmc_reg>;
};

&gpu {
	mali-supply = <&mt6358_vgpu_reg>;
};

&mt6358_vgpu_reg {
	regulator-max-microvolt = <950000>;
	regulator-always-on;
	regulator-boot-on;

	regulator-coupled-with = <&mt6358_vsram_gpu_reg>;
	regulator-coupled-max-spread = <100000>;
};

&mt6358_vsram_gpu_reg {
	regulator-min-microvolt = <850000>;
	regulator-max-microvolt = <1050000>;
	regulator-always-on;
	regulator-boot-on;

	regulator-coupled-with = <&mt6358_vgpu_reg>;
	regulator-coupled-max-spread = <100000>;
};

&mfg_async {
	domain-supply = <&mt6358_vsram_gpu_reg>;
};

&mfg {
	domain-supply = <&mt6358_vgpu_reg>;
};

&i2c3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;

	nfc@28 {
		compatible = "nxp,pn553", "nxp,nxp-nci-i2c";
		reg = <0x28>;

		interrupt-parent = <&pio>;
		interrupts = <9 IRQ_TYPE_LEVEL_HIGH>;

		enable-gpios = <&pio 159 GPIO_ACTIVE_HIGH>;
		firmware-gpios = <&pio 17 GPIO_ACTIVE_HIGH>;
        };
};

&i2c7 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;

	tcpc@60 {
		compatible = "willsemi,wusb3801";
		reg = <0x60>;
		interrupt-parent = <&pio>;
		interrupts = <41 IRQ_TYPE_LEVEL_LOW>;

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			try-power-role = "sink";
			data-role = "dual";
			typec-power-opmode = "3.0A";
			pd-disable;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0x00>;

					usb_typec: endpoint {
						remote-endpoint = <&usb2phy_port>;
					};
				};
			};
		};
	};
};

&spi3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	mediatek,pad-select = <0>;

	cs35l41: speaker-amp@0 {
		#sound-dai-cells = <1>;
		compatible = "cirrus,cs35l41";
		reg = <0>;
		spi-max-frequency = <4000000>;
		interrupt-parent = <&pio>;
		interrupts = <80 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&pio 79 GPIO_ACTIVE_HIGH>;

		cirrus,boost-peak-milliamp = <4500>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <15>;
		cirrus,gpio2-src-select = <4>;
		cirrus,gpio2-output-enable;
        };
};

&pio {
	keyboard_pins: keyboard-pins {
		pins {
			pinmux = <PINMUX_GPIO92__FUNC_KPROW0>,
				 <PINMUX_GPIO93__FUNC_KPCOL0>;
		};
	};

	mmc0_default_pins: mmc0-default-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO124__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO123__FUNC_MSDC0_DAT0>,
				 <PINMUX_GPIO128__FUNC_MSDC0_DAT1>,
				 <PINMUX_GPIO125__FUNC_MSDC0_DAT2>,
				 <PINMUX_GPIO132__FUNC_MSDC0_DAT3>,
				 <PINMUX_GPIO126__FUNC_MSDC0_DAT4>,
				 <PINMUX_GPIO129__FUNC_MSDC0_DAT5>,
				 <PINMUX_GPIO127__FUNC_MSDC0_DAT6>,
				 <PINMUX_GPIO130__FUNC_MSDC0_DAT7>,
				 <PINMUX_GPIO122__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins_ds {
			pinmux = <PINMUX_GPIO131__FUNC_MSDC0_DSL>;
			drive-strength = <MTK_DRIVE_4mA>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO133__FUNC_MSDC0_RSTB>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc0_uhs_pins: mmc0-uhs-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO124__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO123__FUNC_MSDC0_DAT0>,
				 <PINMUX_GPIO122__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-ds {
			pinmux = <PINMUX_GPIO131__FUNC_MSDC0_DSL>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO133__FUNC_MSDC0_RSTB>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc1_default_pins: mmc1-default-pins {
		pins-cmd-dat {
		pinmux = <PINMUX_GPIO164__FUNC_MSDC1_DAT0>,
				 <PINMUX_GPIO163__FUNC_MSDC1_DAT1>,
				 <PINMUX_GPIO162__FUNC_MSDC1_DAT2>,
				 <PINMUX_GPIO161__FUNC_MSDC1_DAT3>,
				 <PINMUX_GPIO170__FUNC_MSDC1_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO171__FUNC_MSDC1_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-insert {
			pinmux = <PINMUX_GPIO18__FUNC_GPIO18>;
			bias-pull-up;
		};
	};

	mmc1_uhs_pins: mmc1-uhs-pins {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO164__FUNC_MSDC1_DAT0>,
				 <PINMUX_GPIO163__FUNC_MSDC1_DAT1>,
				 <PINMUX_GPIO162__FUNC_MSDC1_DAT2>,
				 <PINMUX_GPIO161__FUNC_MSDC1_DAT3>,
				 <PINMUX_GPIO170__FUNC_MSDC1_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO171__FUNC_MSDC1_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
		};
	};

};
